@import "tailwindcss";

* {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @apply w-full px-3 md:px-10 flex flex-col flex-1 justify-between;
}

body > header {
  @apply flex flex-col w-full;
  max-width: 1000px;
  margin: 0 auto;
}
body > main {
  @apply flex-1 flex flex-col w-full py-10;
  max-width: 1000px;
  margin: 0 auto;
  /* padding: 30px; */
}

a {
  text-decoration: underline;
}

.placeholder {
  @apply bg-slate-400 dark:bg-slate-200;
}

.entry-content .wp-block-jetpack-markdown {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.entry-content ul,
.entry-content ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.entry-content p,
.entry-content div,
.entry-content pre,
.entry-content pre code,
.entry-content ul li,
.entry-content ol li {
  @apply my-1 py-1;
}

.entry-content.grecaptcha-badge {
  visibility: hidden;
}

.entry-content .wp-block-jetpack-markdown,
.wp-block-jetpack-markdown {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.grecaptcha-badge,
.entry-content.grecaptcha-badge {
  visibility: hidden;
}

.page-title,
.post-title {
  @apply text-3xl;
}

.page h2::before,
.post h2::before {
  content: "## ";
  @apply text-green-700;
}

.page h2,
.post h2 {
  @apply text-2xl mt-6;
}

.page h3::before,
.post h3::before {
  content: "### ";
  @apply text-green-700;
}

.page h3,
.post h3 {
  @apply text-xl mt-3;
}

.page h4::before,
.post h4::before {
  content: "#### ";
  @apply text-green-700;
}

.page h5::before,
.post h5::before {
  content: "##### ";
  @apply text-green-700;
}

.post ul,
.post ol,
.page ul,
.page ol {
  list-style: disc;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.post blockquote,
.page blockquote {
  @apply my-3 py-3;
}

.post blockquote:before,
.post blockquote:after,
.page blockquote:before,
.page blockquote:after {
  background-color: initial;
}

.post blockquote,
.page blockquote {
  border-left-style: solid;
  border-left-width: thick;
  padding-left: 1.3rem;
  background-color: var(--color-slate-200);
  border-color: var(--color-slate-500);
}

.post blockquote p,
.page blockquote p {
  @apply my-1 py-3;
}

.post .footnotes::before,
.page .footnotes::before {
  content: "Notes";
}

.post .footnotes,
.page .footnotes {
  @apply pt-3 mt-3;
}

.post pre {
  @apply overflow-x-scroll;
}

.entry-content table {
  min-width: 100%;
  overflow-x: auto;
}

.entry-content table tr td,
.entry-content table tr th {
  @apply p-3;
}

.entry-content table thead tr:first-child {
  background-color: var(--color-slate-300);
}

.entry-content table tbody tr:nth-child(even) {
  background-color: var(--color-slate-300);
}
.entry-content table tbody tr:nth-child(odd) {
  background-color: var(--color-slate-100);
}

.entry-content table tr:nth-child(even) {
  background-color: var(--color-slate-200);
}

@media (prefers-color-scheme: dark) {
  .post blockquote,
  .page blockquote {
    background-color: var(--color-slate-800);
    border-color: var(--color-slate-400);
  }

  .page h2::before,
  .post h2::before {
    @apply text-green-600;
  }

  .page h3::before,
  .post h3::before {
    @apply text-green-600;
  }

  .page h4::before,
  .post h4::before {
    @apply text-green-600;
  }
  .page h5::before,
  .post h5::before {
    @apply text-green-600;
  }

  .entry-content table thead tr:first-child {
    background-color: var(--color-slate-800);
  }

  .entry-content table tbody tr:nth-child(even) {
    background-color: var(--color-slate-700);
  }
  .entry-content table tbody tr:nth-child(odd) {
    background-color: var(--color-slate-600);
  }

  .entry-content table tr:nth-child(even) {
    background-color: var(--color-slate-200);
  }
}
